---
title: Profile
nav_profile: active
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/profile.css?{{ timestamp }}">

<div id="photo"><img src="{{ site.url }}/assets/photo.jpg"></div>

<div class="introduction">
    {{ site.owner }} is a postdoctral researcher at Heidelberg University, interested in computer vision, image processing, and computer graphics. His main research interests are globally optimal methods for computer vision and image processing.
</div>

<h1>Projects</h1>

<ul class="projects">{% for project in site.data.profile.projects %}

    <li class="project">

        <span class="project-title">{{ project.title | smartify }}</span>

        {% if project.hide_year %}{% else %}
        <span class="project-time">{% include timeinfo.html info=project %}.</span>
        {% endif %}

        <ul class="attachments">
        {% for attachment in project.attachments %}
            
            <li><a href="{{ attachment.url | absolute_url }}">{{ attachment.name }}</a></li>
        
        {% endfor %}
        </ul>

    </li>

{% endfor %}</ul>

<h1>Affiliations</h1>

<ul class="affiliations">{% for affiliation in site.data.profile.affiliations %}

    <li class="affiliation">

        {% if affiliation.group %}<span class="affiliation-group">{{ affiliation.group }},</span>{% endif %}

        <span class="affiliation-institution">{{ affiliation.institution }},</span>

        {% assign positions = affiliation.positions | sort: "year_started" %}
        <ul class="affiliation-positions">{% for position in positions %}

            <li class="affiliation-position">

                <span class="affiliation-position-title">{{ position.title }}</span>

                <span class="affiliation-position-time">{% include timeinfo.html info=position %}</span>{% if forloop.last == false %},{% else %}.{% endif %}

            </li>

        {% endfor %}</ul>

        {% if affiliation.url %}
        <ul class="attachments"><li class="attachment"><a href="{{ affiliation.url }}">{% include urlname.html url=affiliation.url %}</a></li></ul>
        {% endif %}

        {% if affiliation.projects.size == 1 %}<p class="affiliation-project {% if affiliation.projects.first.prefix %}affiliation-project-has-prefix{% endif %}">

            {% if affiliation.projects.first.prefix %}<span class="affiliation-project-prefix">{{ affiliation.projects.first.prefix }}:</span>{% endif %}

            <span class="affiliation-project-title">{{ affiliation.projects.first.title }}</span>

            <span class="affiliation-project-time">{{ affiliation.projects.first.time_info }}</span>

        </p>{% else %}

            <ul class="affiliation-projects">{% for project in affiliation.projects %}
            
                <li class="affiliation-project">
            
                    <span class="affiliation-project-title">{{ project.title }}</span>
            
                    <span class="affiliation-project-time">{% include timeinfo.html info=project %}</span>
            
                </li>
            
            {% endfor %}</ul>

        {% endif%}

    </li>

{% endfor %}</ul>

<h1>Talks and Posters</h1>

<ul class="presentations">{% for presentation in site.data.profile.presentations %}

    <li class="presentation">

        <span class="presentation-format">{{ presentation.format | capitalize }}.</span>

        <span class="presentation-institution">{{ presentation.institution }}:</span>

        <span class="presentation-title">{{ presentation.title }}.</span>

        <span class="presentation-presenter">{{ site.data.authors[presentation.presenter].name }},</span>

        {% if presentation.venue %}
        <span class="presentation-venue">{{ presentation.venue }},</span>
        {% endif %}

        <span class="presentation-date">{% include date.html info=presentation %}.</span>

    </li>

{% endfor %}</ul>

<h1>Mentorship and Teaching</h1>

<ul class="instruction-experiences">{% for experience in site.data.profile.teaching %}

    <li class="instruction-experience">

        <span class="instruction-experience-description">{{ experience.description | smartify }}</span>

        <span class="instruction-experience-time">{% include timeinfo.html info=experience %}.</span>

        {% if experience.url %}
        <ul class="attachments"><li class="attachment"><a href="{{ experience.url }}">{% include urlname.html url=experience.url %}</a></li></ul>
        {% endif %}

    </li>

{% endfor %}</ul>
