---
title: Profile
nav_profile: active
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/profile.css?{{ timestamp }}">

<div id="photo"><img src="{{ site.url }}{{ site.baseurl }}/assets/photo.jpg"></div>

<div class="introduction">
    {{ site.owner }} is a postdoctral researcher at Heidelberg University, interested in computer vision, image processing, and computer graphics. His main research interests are globally optimal methods for computer vision and image processing.
</div>

<h1>Projects</h1>

<ul class="projects">{% for project in site.data.profile.projects %}

    <li class="project">

        <span class="project-title">{{ project.title | smartify }}</span>
        {%- if project.subtitle -%},
        <span class="project-subtitle">{{ project.subtitle | smartify }}</span>
        {%- endif -%}

        {%- if project.hide_year -%}{%- else %}
        <span class="project-time">{%- include timeinfo.html info=project -%}</span>
        {%- endif -%}.

        {% if project.description %}
        <div class="project-description">{{ project.description | markdownify }}</div>
        {% endif %}

        {% include attachments.html object=project %}

    </li>

{% endfor %}</ul>

<h1>Affiliations</h1>

<ul class="affiliations">{% for affiliation in site.data.profile.affiliations %}

    <li class="affiliation">

        {% if affiliation.group %}<span class="affiliation-group">{{ affiliation.group }},</span>{% endif %}

        <span class="affiliation-institution">{{ affiliation.institution }},</span>

        {% assign positions = affiliation.positions | sort: "year_started" %}
        <ul class="affiliation-positions">{% for position in positions %}

            <li class="affiliation-position">

                <span class="affiliation-position-title">{{ position.title }}</span>

                <span class="affiliation-position-time">{% include timeinfo.html info=position %}</span>{% if forloop.last == false %},{% else %}.{% endif %}

            </li>

        {% endfor %}</ul>

        <ul class="affiliation-projects">{% for project in affiliation.projects %}

            <li class="affiliation-project {% if project.prefix %}affiliation-project-has-prefix{% endif %}">

                {% if project.prefix %}<span class="affiliation-project-prefix">{{ project.prefix }}:</span>{% endif %}

                <span class="affiliation-project-title">{{ project.title }}</span>

                <span class="affiliation-project-time">{{ project.time_info }}</span>

            </li>

        {% endfor %}</ul>

        {% include attachments.html object=affiliation %}

    </li>

{% endfor %}</ul>

<h1>Talks and Posters</h1>

<ul class="presentations">{% for presentation in site.data.profile.presentations %}

    <li class="presentation">

        <span class="presentation-format">{{ presentation.format | capitalize }}.</span>

        <span class="presentation-institution">{{ presentation.institution }}:</span>

        <span class="presentation-title">{{ presentation.title }}.</span>

        <span class="presentation-presenter">{{ site.data.authors[presentation.presenter].name }},</span>

        {% if presentation.venue %}
        <span class="presentation-venue">{{ presentation.venue }},</span>
        {% endif %}

        <span class="presentation-date">{% include date.html info=presentation %}.</span>

    </li>

{% endfor %}</ul>

<h1>Mentorship and Teaching</h1>

<ul class="instruction-experiences">{% for experience in site.data.profile.teaching %}

    <li class="instruction-experience">

        {% if experience.title %}

        <span class="instruction-experience-title">{{ experience.title | smartify }}</span>

        <span class="instruction-experience-time">{% include timeinfo.html info=experience %}.</span>

        {% endif %}

        <span class="instruction-experience-description">{{ experience.description | markdownify }}</span>

        {% include attachments.html object=experience %}

    </li>

{% endfor %}</ul>
