<span class="publication-authors">
    {% include publication-authors.html authors=include.publication.authors suffix=',' %}
</span>
<span class="publication-title">&ldquo;{{ include.publication.title }}<span class="nospace">,</span>&rdquo;</span>
{% include publication-where.html publication=include.publication %}

{% if include.publication.pages %}

    <span class="publication-pages">{{ include.publication.pages }},</span>

{% endif %}

<span class="publication-year">{{ include.publication.year }}.</span>

<ul class="attachments">

    {% for attachment in include.publication.attachments %}
    <li><a href="{{ attachment.url | absolute_url }}">{{ attachment.name }}</a></li>
    {% endfor %}

    {% assign notes = site.notes | where: "slug", include.publication.slug | first %}
    {% if notes %}
    <li><a href="{{ notes.url | absolute_url }}">notes</a></li>
    {% endif %}

    <li><a href="{{ include.publication.url | absolute_url }}">cite</a></li>

</ul>
