{% for author in include.authors %}
    {%- assign author_info = site.data.authors[author] -%}
    {%- if author_info.highlight -%}
        <strong class="publication-author">{{ author_info.name -}}</strong>
    {%- else %}
        <span class="publication-author">{{ author_info.name -}}</span>
    {%- endif -%}
    {%- if forloop.last == false and forloop.length > 2 %},{% endif %}
    {%- if forloop.last == true %}{{ include.suffix }}{% endif %}
    {%- if include.n_max -%}
        {%- if forloop.last == false -%}
            {%- if forloop.index >= include.n_max %}
                <i>et al.</i>
                {%- break -%}
            {%- endif -%}
        {%- endif -%}
    {% endif %}
    {% if forloop.rindex == 2 and forloop.length > 1 %}and{% endif %}
{% endfor %}
