p.lead {
    font-weight: normal;
}

a:link, a:visited, a:active, a:hover {
    color: #000;
    text-decoration-color: rgb(75%, 20%, 20%);
}

.serif-text {
    font-family: Georgia, serif;
}

.carousel-item-overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#00000000, #00000000, #0000007f);
    opacity: 0.6;
    z-index: 1;
    border-radius: var(--bs-border-radius) !important;
}

.carousel-item-overlay .carousel-caption {
    z-index: 2;
    text-shadow: 0 0.1em 0.2em black;
}

/* MAIN SECTION --> */

.news-icon {
    color: rgb(75%, 20%, 20%);
}

.card.type-paper h6 strong {
    font-weight: inherit;
}

.card :is(ul a, p.card-text a):is(:link, :visited, :active, :hover) {
    color: rgb(75%, 20%, 20%);
    text-decoration: underline;
}

#profile-main {
    line-height: 1.7em;
}

.fluid-iframe {
    aspect-ratio: 16 / 9;
    line-height: 0;
}

.fluid-iframe iframe {
    width: 100%;
    height: 100%;
}

.youtube-thumbnail {
    position: relative;
}

.youtube-thumbnail::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    background-size: cover;
}

.youtube-thumbnail .youtube-thumbnail-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(rgba(0%, 0%, 0%, 0.5), rgba(0%, 0%, 0%, 0%), rgba(0%, 0%, 0%, 0.4));
    cursor: pointer;
    color: white;
    padding: 1em;
    font-size: 120%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 0 0.1em black;
}

.youtube-thumbnail .youtube-thumbnail-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/youtube-play-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
}

.youtube-thumbnail:hover .youtube-thumbnail-button {
    filter: brightness(1.05);
}

.youtube-thumbnail .youtube-thumbnail-logo {
    border-radius: 50%;
    height: 2.5em;
    width: auto;
    margin-right: 0.2em;
}

/* <-- MAIN SECTION */

/* CV SECTION --> */

img.main-photo {
    filter: drop-shadow(0 2mm 2mm rgba(0%, 0%, 0%, 0.2));
}

#profile-cv {
}

/* <-- CV SECTION */

a:active {
    color: #000;
}

a:hover {
    filter: drop-shadow(0 0 1mm rgba(100%, 0%, 0%, 0.1));
}

ul.attachments {
    padding: 0;
    margin-top: -0.1rem;
    margin-left: -0.2rem;
}

ul.attachments > li
{
    list-style-type: none;
    margin: 0;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    padding: 0;
    font-size: 0.95rem;
    font-weight: lighter;
    color: #0d0d0d;
    display: inline-block;
}

ul.attachments > li > a {
    display: flex;
    align-items: center;
}

ul.attachments > li > a > span.icon
{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0.2em;
    color: rgb(75%, 20%, 20%);
    position: relative;
}

ul.attachments > li > a > span.icon > :is(img, svg)
{
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.sup {
    font-size: 66%;
    transform: translate(0px, -0.5em);
    display: inline-block;
}

.nospace {
    position: absolute;
}

body {
    background-color: rgb(98% 98% 98%) !important;
    padding: 5mm;
    color: #000;
    padding-bottom: 1cm;
    position: relative;
    min-height: calc(100vh - 15mm);
}

body, input, button {
    font-size: 13pt;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgb(100, 30, 30), rgb(145, 43, 48));
    color: white;
    box-shadow: 0 1mm 3mm rgba(0, 0, 0, 35%);
    z-index: 1000;
    opacity: 0.99;
}

html {
    scroll-padding-top: 5rem;
}

@-moz-document url-prefix() {
    #header {
        padding-top: 10mm;
    }
    html {
        scroll-padding-top: 7rem;
    }
}

#footer-spacer {
    height: 7cm
}

#footer {
    background: linear-gradient(to top, rgb(100, 30, 30), rgb(145, 43, 48));
    height: 4cm;
    color: #fff;
    font-family: Sans-serif;
    font-size: 12pt;
    position: absolute;
    left: -1cm;
    right: -1cm;
    padding-left: 15mm;
    padding-top: 1cm;
    bottom: 0;
}

#footer .copyright,
#footer .licenses {
    opacity: 0.33;
}

#footer .licenses {
    margin-top: 3.5em;
    font-size: 80%;
    display: none;
}

#footer a {
    color: #fff;
}

#navigation {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sans-serif;
    padding: 1px 0 0 0;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#navigation::-webkit-scrollbar {
    display: none;
}

#navigation li.nav {
    display: inline-block;
    border-bottom: 0.5em solid #0000;
    padding-bottom: 0.3em;
    padding-left: 3mm;
    padding-right: 3mm;
    padding-top: 0.5em;
    font-weight: bold;
    margin-left: 1mm;
    color: #ddd;
}

#navigation li.nav a,
#navigation li.nav a:hover,
#navigation li.nav a:visited,
#navigation li.nav a:active {
    color: inherit;
    text-decoration: none;
}

#navigation li.nav-active {
    border-bottom-color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#navigation li.nav:not(.nav-active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#content {
    margin-top: 25mm;
    max-width: 305mm;
    margin-left: auto;
    margin-right: auto;
}

@-moz-document url-prefix() {
    #content {
        padding-top: 10mm;
    }
}

#content input:read-only {
    background-color: #eee;
    color: #aaa;
}

#content h2 {
    border-bottom: 2px solid rgb(75%, 20%, 20%);
    font-family: Georgia, serif;
    line-height: 0.8em;
    -webkit-text-stroke: 1px black;
}

math.ma-block {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

math:not(.ma-block) {
    margin-bottom: -1em;
}

