ul.projects,
ul.affiliations,
ul.presentations,
ul.instruction-experiences {
    padding: 0;
}

ul.projects li.project,
ul.affiliations li.affiliation,
ul.presentations li.presentation,
ul.instruction-experiences li.instruction-experience {
    list-style-type: none;
    margin-top: 0.66em;
    margin-bottom: 0.66em;
}

ul.projects li.project .project-time,
ul.projects li.project .project-title {
    font-weight: bold;
}

ul.projects li.project .project-description,
ul.projects li.project .project-description p:first-child {
    display: inline;
}

ul.presentations li.presentation .presentation-format {
    font-weight: bold;
}

ul.presentations li.presentation .presentation-institution {
    font-style: italic;
}

ul.affiliations li.affiliation > span:first-child {
    font-weight: bold;
}

ul.affiliations li.affiliation ul.affiliation-positions {
    display: inline;
    padding: 0;
}

ul.affiliations li.affiliation ul.affiliation-positions li.affiliation-position {
    display: inline;
    list-style-type: none;
}

ul.affiliations li.affiliation ul.affiliation-positions li.affiliation-position .affiliation-position-title {
    font-style: italic;
}

ul.affiliations li.affiliation ul.affiliation-projects {
    padding: 0;
    display: inline;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project {
    list-style-type: none;
    display: inline;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project-has-prefix .affiliation-project-title {
    font-style: italic;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project .affiliation-project-title::after {
    content: '.';
}

ul.instruction-experiences li.instruction-experience p:first-child,
ul.instruction-experiences li.instruction-experience p:last-child {
    margin: 0;
}

ul.instruction-experiences li.instruction-experience .instruction-experience-title,
ul.instruction-experiences li.instruction-experience .instruction-experience-time {
    font-weight: bold;
}
