ul.projects,
ul.affiliations,
ul.presentations,
ul.instruction-experiences {
    padding: 0;
}

ul.projects li.project,
ul.affiliations li.affiliation,
ul.presentations li.presentation,
ul.instruction-experiences li.instruction-experience {
    list-style-type: none;
    margin-top: 0.66em;
    margin-bottom: 0.66em;
}

ul.projects li.project .project-time,
ul.projects li.project .project-title {
    font-weight: bold;
}

ul.projects li.project .project-description,
ul.projects li.project .project-description p:first-child {
    display: inline;
}

ul.presentations li.presentation .presentation-format {
    font-weight: bold;
}

ul.presentations li.presentation .presentation-institution {
    font-style: italic;
}

ul.affiliations li.affiliation > span:first-child {
    font-weight: bold;
}

ul.affiliations li.affiliation ul.affiliation-positions {
    display: inline;
    padding: 0;
}

ul.affiliations li.affiliation ul.affiliation-positions li.affiliation-position {
    display: inline;
    list-style-type: none;
}

ul.affiliations li.affiliation ul.affiliation-positions li.affiliation-position .affiliation-position-title {
    font-style: italic;
}

ul.affiliations li.affiliation ul.affiliation-projects {
    padding: 0;
    display: inline;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project {
    list-style-type: none;
    display: inline;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project-has-prefix .affiliation-project-title {
    font-style: italic;
}

ul.affiliations li.affiliation ul.affiliation-projects li.affiliation-project .affiliation-project-title::after {
    content: '.';
}

ul.instruction-experiences li.instruction-experience p:first-child,
ul.instruction-experiences li.instruction-experience p:last-child {
    margin: 0;
}

ul.instruction-experiences li.instruction-experience .instruction-experience-title,
ul.instruction-experiences li.instruction-experience .instruction-experience-time {
    font-weight: bold;
}

.form-check-input {
    border-color: #000 !important;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236c757d'/%3e%3c/svg%3e") !important;
    background-color: #fff !important;
}

.form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28191, 51, 51, 1.0%29'/%3e%3c/svg%3e") !important;
}

#content > * > hr {
    height: 2px;
    opacity: 1;
    background-color: rgb(75%, 20%, 20%);
    border: 0;
}
